/**
 * @license
 * MyFonts Webfont Build ID 3722132, 2019-02-19T10:49:03-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirNextLTPro-Bold by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-bold/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-BoldIt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-bold-italic/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-Demi by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-demi/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-DemiIt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-demi-italic/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-HeavyIt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-heavy-italic/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-Heavy by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-heavy/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-It by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-italic/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-LightIt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-light-italic/
 * Copyright: Copyright &#x00A9; 2012 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-Light by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-light/
 * Copyright: Copyright &#x00A9; 2012 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-MediumIt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-medium-italic/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-Regular by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-regular/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-Medium by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-medium/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-ThinIt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-thin-italic/
 * Copyright: Copyright &#x00A9; 2012 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-Thin by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-thin/
 * Copyright: Copyright &#x00A9; 2012 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-UltLtIt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-ultralight-italic/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * Webfont: AvenirNextLTPro-UltLt by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-ultralight/
 * Copyright: Copyright &#x00A9; 2004 - 2017 Monotype GmbH. All rights reserved.
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3722132
 * Licensed pageviews: 10
 * 
 * © 2019 MyFonts Inc
*/




  
@font-face {font-family: 'AvenirNextLTPro-Bold';src: url('webfonts/38CB94_0_0.eot');src: url('webfonts/38CB94_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_0_0.woff2') format('woff2'),url('webfonts/38CB94_0_0.woff') format('woff'),url('webfonts/38CB94_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-BoldIt';src: url('webfonts/38CB94_1_0.eot');src: url('webfonts/38CB94_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_1_0.woff2') format('woff2'),url('webfonts/38CB94_1_0.woff') format('woff'),url('webfonts/38CB94_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Demi';src: url('webfonts/38CB94_2_0.eot');src: url('webfonts/38CB94_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_2_0.woff2') format('woff2'),url('webfonts/38CB94_2_0.woff') format('woff'),url('webfonts/38CB94_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-DemiIt';src: url('webfonts/38CB94_3_0.eot');src: url('webfonts/38CB94_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_3_0.woff2') format('woff2'),url('webfonts/38CB94_3_0.woff') format('woff'),url('webfonts/38CB94_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-HeavyIt';src: url('webfonts/38CB94_4_0.eot');src: url('webfonts/38CB94_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_4_0.woff2') format('woff2'),url('webfonts/38CB94_4_0.woff') format('woff'),url('webfonts/38CB94_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Heavy';src: url('webfonts/38CB94_5_0.eot');src: url('webfonts/38CB94_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_5_0.woff2') format('woff2'),url('webfonts/38CB94_5_0.woff') format('woff'),url('webfonts/38CB94_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-It';src: url('webfonts/38CB94_6_0.eot');src: url('webfonts/38CB94_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_6_0.woff2') format('woff2'),url('webfonts/38CB94_6_0.woff') format('woff'),url('webfonts/38CB94_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-LightIt';src: url('webfonts/38CB94_7_0.eot');src: url('webfonts/38CB94_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_7_0.woff2') format('woff2'),url('webfonts/38CB94_7_0.woff') format('woff'),url('webfonts/38CB94_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Light';src: url('webfonts/38CB94_8_0.eot');src: url('webfonts/38CB94_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_8_0.woff2') format('woff2'),url('webfonts/38CB94_8_0.woff') format('woff'),url('webfonts/38CB94_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-MediumIt';src: url('webfonts/38CB94_9_0.eot');src: url('webfonts/38CB94_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_9_0.woff2') format('woff2'),url('webfonts/38CB94_9_0.woff') format('woff'),url('webfonts/38CB94_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Regular';src: url('webfonts/38CB94_A_0.eot');src: url('webfonts/38CB94_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_A_0.woff2') format('woff2'),url('webfonts/38CB94_A_0.woff') format('woff'),url('webfonts/38CB94_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Medium';src: url('webfonts/38CB94_B_0.eot');src: url('webfonts/38CB94_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_B_0.woff2') format('woff2'),url('webfonts/38CB94_B_0.woff') format('woff'),url('webfonts/38CB94_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-ThinIt';src: url('webfonts/38CB94_C_0.eot');src: url('webfonts/38CB94_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_C_0.woff2') format('woff2'),url('webfonts/38CB94_C_0.woff') format('woff'),url('webfonts/38CB94_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Thin';src: url('webfonts/38CB94_D_0.eot');src: url('webfonts/38CB94_D_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_D_0.woff2') format('woff2'),url('webfonts/38CB94_D_0.woff') format('woff'),url('webfonts/38CB94_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-UltLtIt';src: url('webfonts/38CB94_E_0.eot');src: url('webfonts/38CB94_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_E_0.woff2') format('woff2'),url('webfonts/38CB94_E_0.woff') format('woff'),url('webfonts/38CB94_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-UltLt';src: url('webfonts/38CB94_F_0.eot');src: url('webfonts/38CB94_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38CB94_F_0.woff2') format('woff2'),url('webfonts/38CB94_F_0.woff') format('woff'),url('webfonts/38CB94_F_0.ttf') format('truetype');}
 