/* Theme Info

Theme Name: Red Shark Digital
Theme URI: https://redsharkdigital.com/
Author: Red Shark Digital
Version: 3.0

Theme Info */

/* General Resets */
* {padding: 0; margin: 0 auto; box-sizing: border-box; line-height: 1;}
html {font-size: 10px; font-family: "Roboto";}
input[type=submit], input[type=button], a, button {text-decoration: none; transition: all .25s; display: inline-block; -webkit-appearance: none; cursor: pointer;}
figure, .figure {background-position: center; background-size: cover;}
img, iframe {vertical-align: middle; max-width: 100%; height: auto;}
h1, h2, h3, h4, h5 {font-weight: 400;}
h1 {font-size: 4.8em;}
h2 {font-size: 3.2em;}
h3 {font-size: 2.4em;}
h4 {font-size: 2em;}
h5 {font-size: 1.8em;}
p, li {font-size: 18px;}
a {font-size: inherit; color: inherit;}


/* content division */
.center {display: table; width: 100%; table-layout: fixed;}
.center > * {display: table-cell; vertical-align: middle;}
.wide {max-width: 1440px; width: 100%;}
.slim {max-width: 1200px; width: 100%;}
.gutters > * {padding: 16px;}

/* Form Styles */
input, select, textarea, .gfield_radio, .gfield_checkbox {width: 100%; display: block; padding: 10px; font-size: 18px; border: 1px solid #ddd; background: #fff;}
label, input[type="radio"], input[type="checkbox"] {display: inline-block; width: auto; padding: 5px;}
.gform_fields li {padding: 16px;}
.gform_fields > li > label {display: none;}
.gform_radio > li > *, .gform_checkbox > li > * {display: inline-block;}
.gform_fields .gfield_checkbox li {display: inline-block; width: auto;}
.gform_fields .gfield_radio li {display: inline-block; width: auto; padding: 5px;}
.gform_footer {padding: 16px;}
.gform_footer input {width: auto;}
a.gform_anchor {display: none;}
ul.gform_fields li.gform_validation_container {display: none;}

/* buttons */
.btn, input[type="submit"] {padding: 16px 32px; color: #fff; background-color: #f33; border: 0; font-weight: 700; text-transform: uppercase;}
.btn:hover {text-decoration: none !important; background: #fff; color: #111;}

/* content styles */
.entry p {line-height: 1.5;}
.entry a:hover {text-decoration: underline;}
.entry li {list-style-position: inside; margin: 0; padding: 0 0 10px 10px; line-height: 1.4; list-style-type: disc;}
.entry blockquote {padding: 10px 20px; background: #fff; margin: 0 0 20px; font-style: italic; border-left: 4px solid #111111; box-shadow: 0 0 1px rgba(0,0,0,.3);}

/* social links */
.social_links a {margin: 5px; padding: 4px; text-align: center;}
.social_links a i {display: inline-block; vertical-align: middle; font-size: 24px; color: #fff; transition: all .5s;}

.quiet {font-size: 24px; line-height: 30px;}
.quieter {font-size: 3rem; line-height: 3.5rem;}
.quiet {font-size: 3.5rem; line-height: 4rem;}
.loud {font-size: 4rem; line-height: 5rem;}
.louder {font-size: 4.5rem; line-height: 5.5rem;}
.loudest {font-size: 5rem; line-height: 6rem; text-transform: uppercase;}

#mobile_menu .menu li[class*="current"] > a,
#mobile_menu .menu li a:hover {background: #111111;}

/* header */
header.top {width: 100%; z-index: 3000; padding: 16px;}
header.top .wide {display: table; table-layout: fixed;}
header.top .wide > div {display: table-cell; vertical-align: middle;}
.top_logo {width: 250px;}
.top_logo img {width: 100%;}
.top_logo a {display: block; font-size: 24px;}

/* navigation */
.main_menu {text-align: right;}
.main_menu .menu li > a {padding: 10px; display: inline-block; font-size: 18px;}
.main_menu .menu li[class*="current"] a,
.main_menu .menu li > a:hover {}

.menu li {position: relative;}
ul.sub-menu {position: absolute; display: none; left: 0; z-index: 13000; width: 300px; background: #fff;}
ul.sub-menu li {background: #fff; display: inline-block; width: 100%;}
ul.sub-menu a {padding: 10px 20px; display: block; color: #111 !important; width: auto; z-index: 12000; background: #fff;}
ul.sub-menu li[class*="current"], ul.sub-menu a:hover {background: #111; color: #fff !important;}
ul.menu li:hover > ul.sub-menu {display: block; background: #fff;}
ul.sub-menu > li > ul.sub-menu {left: 280px; z-index: 13000; top: -2px;}

#mobileMenu {position: relative; z-index: 3000;}
#mobileMenu .menu {position: absolute; display: none; width: 100%; background: #fff; text-align: center; box-shadow: 0 3px 5px rgba(0, 0, 0, .2);}
#mobileMenu .menu li {display: block;}
#mobileMenu .menu li a {display: block; padding: 10px 20px; text-transform: uppercase; font-size: 20px;}
#mobileMenu .menu li[class*="current"] > a, #mobileMenu .menu li a:hover {color: #f33;}
a#mobileNav {font-size: 36px;}
.mobile {display: none;}

/* footer */
footer {padding: 16px;}
.footerLogo a {width: 250px;}
.copyright {padding: 10px 0; font-size: 14px;}
.copyright > span {display: inline-block;}

/* Tiles */
.tile {perspective: 1000px;}
.tile:hover .block {transform: rotateY(180deg);}
.tile > .block {position: relative; transform-style: preserve-3d; transition: all .5s;}
.block > * {position: absolute; color: #fff; top: 0; left: 0; backface-visibility: hidden; display: block;}
.block > .front {z-index: 2; transform: rotateY(0deg);}
.block > .back {transform: rotateY(180deg);}

/* Zoom Box */
.zoom {overflow: hidden; position: relative;}
.zoom > * {height: inherit; width: 100%;}
.zoom > figure {transform: scale(1); transition: all .5s; position: absolute; width: 100%; top: 0; left: 0; z-index: -1;}
.zoom:hover > figure {transform: scale(1.1);}

/* Gallery */
ul.gallery {padding: 0 !important;}
ul.gallery li {padding: 10px;}
ul.gallery li a {display: block;}


/* Lightbox */
#lightbox {display: none; width: 100%; height: 100vh; position: fixed; z-index: 5000; text-align: center; top: 0;}
#lightbox .shade {background: rgba(0, 0, 0, .7); position: absolute; top: 0; left: 0; width: 100%; height: 100vh; z-index: 5500;}
#lightbox.on {display: flex; justify-content: center; align-items: center;}
#lightbox .frame {position: relative; display: inline-block; border: 2px solid #111; background: #111; max-width: 90%; z-index: 6000;}
#lightbox img {max-height: 90vh;}
#lightbox .flex a {color: #fff; padding: 10px; text-transform: uppercase; font-size: 14px; flex: 1;}
#lightbox .flex a:hover {background: #fff; color: #111;}

/* Slider Styling */
.slider {z-index: 5;}
.slider > * {position: absolute; z-index: 1; opacity: 0; transition: all .75s;}
.slider .active {position: relative; z-index: 2; opacity: 1;}

/* everything else */
#slides .slideContent {display: flex; align-items: center; justify-content: center; background: rgba(0,0,0,.5); height: 700px; color: #fff; text-align: center;}



#banner {padding: 16px 16px;}



/*Slick JS Styling*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arinline.slick-hidden{display:none}
.slick-arinline {display: inline-block; position: absolute; width: 40px; height: 40px; top: 50%; margin-top: -20px; border: 0; cursor: pointer; text-indent: -999em; overflow: hidden; z-index: 3000; background-position: center; background-size: contain; background-repeat: no-repeat; background-color: transparent;}
.slick-arrow {position: absolute; top: 50%; background-color: transparent; border: 0; z-index: 5; height: 40px; width: 40px; background-position: center; background-size: contain; background-repeat: no-repeat; margin-top: -20px;}
.slick-arrow.slick-prev {background-image: url(media/Left.png); left: 16px;}
.slick-arrow.slick-next {background-image: url(media/Right.png); right: 16px;}
ul.slick-dots {text-align: center; width: 100%; position: absolute; bottom: 20px;}
ul.slick-dots > li {display: inline-block; width: auto; margin: 7px 7px 0;}
ul.slick-dots > li button {background: transparent; border: 0; border-radius: 50%; height: 18px; width: 18px; border: 2px solid #3B3C9D}
ul.slick-dots > li.slick-active button {background: rgba(59,179,201,0.3)}



/* Mobile Styles */
.flex {display: flex; flex-wrap: wrap; justify-content: center;}
.flex > * {margin: 0;}
.flex > * > * {height: 100%;}
.inline, .menu, ul.gform_fields, .gform_radio, .gform_checkbox {font-size: 0; list-style-type: none;}
.inline > *, .menu > li, ul.gform_fields > li, .gform_radio > li, .gform_checkbox > li {font-size: initial; display: inline-block; vertical-align: top;}

.mx01 {width: 8.333%;}
.mx02 {width: 16.666%;}
.mx03 {width: 25%;}
.mx04 {width: 33.333%;}
.mx05 {width: 41.666%;}
.mx06 {width: 50%;}
.mx07 {width: 58.333%;}
.mx08 {width: 66.666%;}
.mx09 {width: 75%;}
.mx10 {width: 83.333%;}
.mx11 {width: 91.666%;}
.mx12 {width: 100%;}
.full {width: 100%;}

[class*="fifth"] {width: 20%;}
[class*="fourth"] {width: 25%;}
[class*="third"] {width: 33.33%;}
[class*="half"] {width: 50%;}

/* Large Screen Size */
@media (max-width: 1200px) {
    .lg01 {width: 8.333%;}
    .lg02 {width: 16.666%;}
    .lg03 {width: 25%;}
    .lg04 {width: 33.333%;}
    .lg05 {width: 41.666%;}
    .lg06 {width: 50%;}
    .lg07 {width: 58.333%;}
    .lg08 {width: 66.666%;}
    .lg09 {width: 75%;}
    .lg10 {width: 83.333%;}
    .lg11 {width: 91.666%;}
    .lg12 {width: 100%;}

    [class*="fifth"] {width: 25%;}
    [class*="fourth"] {width: 33.33%;}

    html {font-size: 9px;}
}

/* Medium Screen size - Mobile starts here */
@media (max-width: 992px) {
    .mobile {display: inline-block;}
    .main_menu .menu {display: none;}
    ul.sub-menu {display: none !important;}
    #mobileMenu.on .menu {display: block;}

    .md01 {width: 8.333%;}
    .md02 {width: 16.666%;}
    .md03 {width: 25%;}
    .md04 {width: 33.333%;}
    .md05 {width: 41.666%;}
    .md06 {width: 50%;}
    .md07 {width: 58.333%;}
    .md08 {width: 66.666%;}
    .md09 {width: 75%;}
    .md10 {width: 83.333%;}
    .md11 {width: 91.666%;}
    .md12 {width: 100%;}

    [class*="fifth"] {width: 33.33%;}
    [class*="third"] {width: 50%;}
    [class*="half"] {width: 100%;}
    .center, .center > * {display: block;}

    .gutters > * {padding: 8px;}

    html {font-size: 8px;}
}

/* Small Screen Size */
@media (max-width: 768px) {
    .sm01 {width: 8.333%;}
    .sm02 {width: 16.666%;}
    .sm03 {width: 25%;}
    .sm04 {width: 33.333%;}
    .sm05 {width: 41.666%;}
    .sm06 {width: 50%;}
    .sm07 {width: 58.333%;}
    .sm08 {width: 66.666%;}
    .sm09 {width: 75%;}
    .sm10 {width: 83.333%;}
    .sm11 {width: 91.666%;}
    .sm12 {width: 100%;}

    [class*="fifth"], [class*="fourth"] {width: 50%;}
    [class*="third"] {width: 100%;}

    html {font-size: 7px;}
}

/* Miminum Screen Size */
@media (max-width: 500px) {
    .mn01 {width: 8.333%;}
    .mn02 {width: 16.666%;}
    .mn03 {width: 25%;}
    .mn04 {width: 33.333%;}
    .mn05 {width: 41.666%;}
    .mn06 {width: 50%;}
    .mn07 {width: 58.333%;}
    .mn08 {width: 66.666%;}
    .mn09 {width: 75%;}
    .mn10 {width: 83.333%;}
    .mn11 {width: 91.666%;}
    .mn12 {width: 100%;}

    [class*="fifth"], [class*="fourth"] {width: 100%;}

    html {font-size: 6px;}
}
