.post-type-page .wp-list-table tr.level-0 td,
.post-type-page .wp-list-table tr.level-0 th
{background: #0073aa !important; color: #fff !important; border-bottom: 1px solid #00558c;}

.post-type-page .wp-list-table tr.level-0,
.post-type-page .wp-list-table tr.level-0 a,
.post-type-page .wp-list-table tr.level-0 span,
.post-type-page .wp-list-table tr.level-0 strong
{color: #fff !important;}

.post-type-page .wp-list-table tr.level-1 td,
.post-type-page .wp-list-table tr.level-1 th
{background: #ddd; border-top: 1px solid #eee;}

.post-type-page .wp-list-table tr.level-2 td,
.post-type-page .wp-list-table tr.level-2 th
{background: #f2f2f2; border-top: 1px solid #eee;}

.post-type-page .wp-list-table tr.level-3 td,
.post-type-page .wp-list-table tr.level-3 th
{background: #fff; border-top: 1px solid #eee;}

.post-type-page .wp-list-table tr.level-4 td,
.post-type-page .wp-list-table tr.level-4 th
{background: #fff; border-top: 1px solid #eee;}

.post-type-page .wp-list-table tr th.column-menu_order
{width: 40px !important; white-space: nowrap; text-align: left;}

.acf_postbox .field textarea {min-height: 0 !important;}

.widefat .column-menu_order {width: 60px; text-align: center;}
